<div class="animated fadeIn">
  <div class="card">
    <div class="card-header"><i class="icon-user"></i> Edit Profile</div>
    <div class="card-body">
      <form #UpdateUserform="ngForm" (ngSubmit)="updateUser()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fa fa-user-o fa-sm mt-1"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            name="name"
            value="{{ _users.name }}"
            [(ngModel)]="users.name"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-home"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Company Name"
            name="company"
            value="{{ _users.company }}"
            [(ngModel)]="users.company"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fa fa-address-card-o fa-sm mt-1"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="NIC Number"
            name="nic"
            value="{{ _users.nic }}"
            [(ngModel)]="users.nic"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="cui-phone"></i></span>
          </div>
          <input
            type="tel"
            class="form-control"
            placeholder="Mobile Number"
            name="mobile"
            value="{{ _users.mobile }}"
            [(ngModel)]="users.mobile"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="cui-location-pin"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="City"
            name="city"
            value="{{ _users.city }}"
            [(ngModel)]="users.city"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            value="{{ _users.password }}"
            [(ngModel)]="users.password"
            required
          />
        </div>

        <button type="submit" class="btn btn-block btn-success">
          Update Account
        </button>
      </form>
    </div>
  </div>
</div>
