<div class="animated fadeIn">
  <div class="card">
    <div class="card-header"><i class="icon-user"></i> Edit Profile</div>
    <div class="card-body">
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fa fa-user-o fa-sm mt-1"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            name="name"
            value="Giwantha Sandeepa Wijekoon"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-home"></i></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Company Name"
            name="company"
            value="SSS"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fa fa-address-card-o fa-sm mt-1"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="NIC Number"
            name="nic"
            value="972870536V"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="cui-phone"></i></span>
          </div>
          <input
            type="tel"
            class="form-control"
            placeholder="Mobile Number"
            name="mobile"
            value="0766545982"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="cui-location-pin"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="City"
            name="city"
            value="Dambulla"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            value="12345"
            required
          />
        </div>
        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Repeat password"
            name="cpassword"
            value="12345"
            required
          />
        </div>
        <button type="submit" class="btn btn-block btn-success">
          Update Account
        </button>
      </form>
    </div>
  </div>
</div>
