<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-plus-square-o"></i> Enter Price Details
    </div>
    <div class="card-body">
      <form #AddPriceform="ngForm" (ngSubmit)="addPrice()">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-list-ul"></i></span>
          </div>
          <ng-select class="form-control" placeholder="Category: " name="category" [(ngModel)]="products.category">
            <ng-option *ngFor="let cat of categories" [value]="cat.val">{{cat.name}}</ng-option>
         </ng-select>
          <!-- <select class="form-control" name="category" [(ngModel)]="products.category" required>
            <option value="" disabled selected>Select Category</option>
            <option value="එළවළු">Vegetables(එළවළු)</option>
            <option value="පළතුරු">Fruits(පළතුරු)</option>
            <option value="ධාන්‍යය">Grains(ධාන්‍යය)</option>
            <option value="පලාවර්ග">Leafy Greens(පලාවර්ග)</option>
            <option value="අලවර්ග">Yams(අලවර්ග)</option>
            <option value="අනෙකුත්">Other(අනෙකුත්)..</option>
          </select> -->
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-cubes"></i></span>
          </div>
          <input type="text" class="form-control" name="item" placeholder="Item" [(ngModel)]="products.item" required />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fa fa-minus-square-o"></i
            ></span>
          </div>
          <input
            type="number"
            class="form-control"
            placeholder="Minimum Price(Rs.) per 1kg"
            name="minprice"
            [(ngModel)]="products.minPrice"
            required
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fa fa-plus-square-o"></i
            ></span>
          </div>
          <input
            type="number"
            class="form-control"
            placeholder="Maximum Price(Rs.) per 1kg"
            name="maxprice"
            [(ngModel)]="products.maxPrice"
            required
          />
        </div>
        <button type="submit" class="btn btn-block btn-success">Add</button>
        <button type="reset" class="btn btn-block btn-danger">Clear</button>
      </form>
    </div>
  </div>
  <ngx-spinner bdColor = "rgba(29,27,27,0.8)" size = "large" color = "#80e579" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Adding... </p></ngx-spinner>
</div>
