<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header text-center">
            <strong>කරුණාකර ඔබගේ භාෂාව තෝරන්න</strong>
            <br>
            <strong>நீங்கள் விரும்பும் மொழியைத் தேர்ந்தெடுக்கவும்</strong>
            <br>
            <strong>Please Select Your Prefered Language</strong>
          </div>
          <div class="card-body">
              <br>
            <a type="button" href="/#/login" class="btn btn-primary btn-lg btn-block">
                සිංහල
            </a>
            <a type="button" href="/#/login" class="btn btn-success btn-lg btn-block">
                தமிழ்
            </a>
            <a type="button" href="/#/login" class="btn btn-danger btn-lg btn-block">
              English
            </a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
