<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-cloud-upload"></i> Load Prices From Excel File
    </div>
    <div class="card-body">
      <ngx-dropzone (change)="onSelect($event)" [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'" [multiple]="false">
        <ngx-dropzone-label>Click here to add files</ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngFor="let f of files"
          [removable]="true"
          (removed)="onRemove(f)"
        >
          <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <br>
      <!-- <button type="button" value="upload" (click)="onUpload()" class="btn btn-success btn-lg btn-block">Upload Details</button> -->
    </div>
  </div>
  <ngx-spinner bdColor = "rgba(29,27,27,0.8)" size = "large" color = "#80e579" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Uploading Please Wait... </p></ngx-spinner>
</div>
