<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-qrcode"></i> Scan QR Code For Add Prices
    </div>
    <div class="card-body">
      <input
        type="file"
        #file
        name="file"
        id="file"
        (change)="preview(file.files)"
      />
      <ng2-qrcode-reader
        (result)="render($event)"
        [qrr-show]="showQRCode"
        [qrr-value]="value"
        [qrr-type]="elementType"
      >
      </ng2-qrcode-reader
      ><br />
      <div #result></div>
      <div *ngIf="formDiv" class="card-body">
        <form (ngSubmit)="addPrice()" [formGroup]="fillQR">
          <!-- <input type="checkbox" name="check1" (change)="copyTextValue(this.form);">
      <input type="text" id="category" name="category" [(ngModel)]="products.category">
      <input type="text" id="item" name="item" [(ngModel)]="products.item"> -->
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-list-ul"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              formControlName="category"
              required
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-cubes"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              formControlName="item"
              required
            />
          </div>
        </form>
        <form #AddPriceform="ngForm" (ngSubmit)="addPrice()">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-minus-square-o"></i
              ></span>
            </div>
            <input
              type="number"
              class="form-control"
              placeholder="Minimum Price(Rs.) per 1kg"
              name="minprice"
              [(ngModel)]="products.minPrice"
              required
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fa fa-plus-square-o"></i
              ></span>
            </div>
            <input
              type="number"
              class="form-control"
              placeholder="Maximum Price(Rs.) per 1kg"
              name="maxprice"
              [(ngModel)]="products.maxPrice"
              required
            />
          </div>
          <button type="submit" class="btn btn-block btn-success">Add</button>
        </form>
      </div>
      <br />
    </div>
  </div>
</div>
