<div class="animated fadeIn">
  <div class="card">
    <div class="card-header"><i class="icon-list"></i> All Price Details</div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Category</th>
            <th>Item</th>
            <th>Date</th>
            <th>Time</th>
            <th>Min. Price(Rs.)/ kg</th>
            <th>Max. Price(Rs.)/ kg</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vegetables</td>
            <td>Cabbage</td>
            <td>2020/12/18</td>
            <td>10:00 AM</td>
            <td>30.00</td>
            <td>45.00</td>
          </tr>
          <tr>
            <td>එළවළු</td>
            <td>ගෝවා</td>
            <td>2020/11/2</td>
            <td>10:00 AM</td>
            <td>40.00</td>
            <td>45.00</td>
          </tr>
          <tr>
            <td>එළවළු</td>
            <td>මල්ගෝවා</td>
            <td>2020/11/2</td>
            <td>10:00 AM</td>
            <td>60.00</td>
            <td>70.00</td>
          </tr>
          <tr>
            <td>එළවළු</td>
            <td>රතුගෝවා</td>
            <td>2020/11/2</td>
            <td>10:00 AM</td>
            <td>-</td>
            <td>-</td>
          </tr>
          <tr>
            <td>එළවළු</td>
            <td>බෝංචි</td>
            <td>2020/11/2</td>
            <td>10:00 AM</td>
            <td>75.00</td>
            <td>80.00</td>
          </tr>
          <tr>
            <td>එළවළු</td>
            <td>ලීක්ස්</td>
            <td>2020/11/2</td>
            <td>10:00 AM</td>
            <td>35.00</td>
            <td>40.00</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="/#/allprices">2</a></li>
        <li class="page-item"><a class="page-link" href="/#/allprices">3</a></li>
        <li class="page-item"><a class="page-link" href="/#/allprices">4</a></li>
        <li class="page-item"><a class="page-link" href="/#/allprices">Next</a></li>
      </ul>
    </div>
  </div>
</div>
